@inherits LayoutComponentBase

<link rel="stylesheet" href="css/Skins/@(_appSettings.Skin).css" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="custom_dropdown-container">
                <button class="custom_dropdown-btn" @onclick='() => ToggleDropdown("skin")'>
                    <img src="assets/images/skins/@(_settingsService._currentSkin.Icon)" class="skin-icon" />
                    @(_settingsService._currentSkin.Name)
                </button>

                @if (isSkinDropdownOpen)
                {
                    <ul class="custom_dropdown-menu">
                        @foreach (var skin in availableSkins)
                        {
                            <li @onclick='() => ChangeDropdownSelectedValue("skin",skin.Name)'>
                                <img src="assets/images/skins/@skin.Icon" class="skin-icon" />
                                @skin.Name
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="custom_dropdown-container">
                <button class="custom_dropdown-btn" @onclick='() => ToggleDropdown("language")'>
                    <img src="assets/images/languages/@(_settingsService._currentLanguage.LanguageFlag)" class="skin-icon" />
                    @(_settingsService._currentLanguage.LanguageCode)
                </button>

                @if (isLanguageDropdownOpen)
                {
                    <ul class="custom_dropdown-menu">
                        @foreach (var language in availableLanguages)
                        {
                            <li @onclick='() => ChangeDropdownSelectedValue("language", language.LanguageCode)'>
                                <img src="assets/images/languages/@language.LanguageFlag" class="skin-icon" />
                                @language.LanguageCode
                            </li>
                        }
                    </ul>
                }
            </div>
            <button @onclick="@(async () => await LogOut())" class="btn">Disconnect</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script src="js/MainLayout.js"></script>

@code {
    private List<AppLanguageModel> availableLanguages => _settingsService.AvailableLanguages();
    private List<AppSkinModel> availableSkins => _settingsService.AvailableSkins();
    private bool isLanguageDropdownOpen = false;
    private bool isSkinDropdownOpen = false;

    private void ToggleDropdown(string ID)
    {
        switch (ID.ToLower().Trim())
        {
            case "skin":
                isSkinDropdownOpen = !isSkinDropdownOpen;
                break;

            case "language":
                isLanguageDropdownOpen = !isLanguageDropdownOpen;
                break;

            default:
                break;
        }

        UpdateUI();
    }
    private void ChangeDropdownSelectedValue(string DropdownID, string newValue)
    {
        switch (DropdownID.ToLower().Trim())
        {
            case "skin":
                _settingsService.ChangeSkin(newValue);
                break;

            case "language":
                _settingsService.ChangeLanguage(newValue);
                break;

            default:
                break;
        }

        ToggleDropdown(DropdownID);
    }

    private async Task LogOut()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)_authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
    }

    protected override void OnInitialized()
    {
        _settingsService.OnLanguageChanged += UpdateUI;
        _settingsService.OnSkinChanged += UpdateUI;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await _jsRuntime.InvokeVoidAsync("preventF5");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }

    private async void UpdateUI()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _settingsService.OnLanguageChanged -= UpdateUI;
        _settingsService.OnSkinChanged -= UpdateUI;
    }
}