@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <select class="form-control" @onchange="@(async (e) => _settingsService.ChangeSkin(e.Value.ToString()))">
                @foreach (string skin in availableSkins)
                {
                    <option value="@skin" selected="@(_appSettings.Skin == skin)">
                        @skin
                    </option>
                }
            </select>
            <img src="assets/images/language/@(_settingsService._currentLanguage.LanguageFlag)" />
            <select class="form-control" @onchange="@(async (e) => _settingsService.ChangeLanguage(e.Value.ToString()))">
                @foreach (AppLanguageModel language in availableLanguages)
                {
                    <option value="@language.LanguageCode" selected="@(_settingsService._currentLanguage.LanguageCode == language.LanguageCode)">
                        @language.LanguageCode
                    </option>
                }
            </select>
            <button @onclick="@(async () => await LogOut())" class="btn">Disconnect</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script src="js/MainLayout.js"></script>

@code {
    private List<AppLanguageModel> availableLanguages => _settingsService.AvailableLanguages();
    private List<string> availableSkins => new List<string> { "light", "dark" };

    private async Task LogOut()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)_authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
    }

    protected override void OnInitialized()
    {
        _settingsService.OnLanguageChanged += UpdateUI;
        _settingsService.OnSkinChanged += UpdateUI;
    }

    private async void UpdateUI()
    {
        await InvokeAsync(StateHasChanged);

        await _jsRuntime.InvokeVoidAsync("location.reload");
    }

    public void Dispose()
    {
        _settingsService.OnLanguageChanged -= UpdateUI;
        _settingsService.OnSkinChanged -= UpdateUI;
    }
}